#page {
    width: 100%;
}

header {
    flex-direction: column;
}

header img {
    max-width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto;   
}

header nav {
    width: 100%;
}

header a:hover {
    border-bottom-color: #0065FC;
    border-bottom-style:solid ;
    color: #0065FC;
    border-top-style: none;
}

h1,h2 {
    margin-left: 5%;
}

#bouton {
    display: none;
}

#bouton2 {
    display: inline-block;
    background-color:#0065FC ;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    border-style: none;
    height: 60px;
    width: 60px;
    border-radius: 18px;
    position: relative;
    right: 17px;
}

#bdr {
    justify-content: center;
}
