
* {
    box-sizing:border-box;
    list-style-type: none;
}

body {  
    font-family: 'Raleway', sans-serif;
}

#page {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

header img {
    width: auto;
    max-height: 63px;
    margin-top: auto;
    margin-bottom: auto;
    
}

header nav {
    width: 22%;
    display: flex;
    justify-content: space-around;
}

 header a {
     flex: 1;
     flex-grow: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     text-decoration:none;
     font-weight: 500; 
     font-size: 18px;
     color: black;
     border-top-color: #FFFFFF;
     border-top-style:solid ;
 }

header a:hover {
    border-top-color: #0065FC;
    border-top-style:solid ;
    color: #0065FC;
}

h1 {
    font-size: 21px;
    font-weight: 700; 
}

h4 {
    font-size: 17px;
    font-weight: 500;
    margin: -10px 0 20px 0; 
}

#bdr {
    display: flex;
}

#position {
    background-color: #f0f0f0;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    height: 60px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
}

#ville {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    border-style: solid;
    border-color: #f0f0f0;
    height: 60px;
    width: 270px;
    padding-left: 15px;
    outline: none;
}

#bouton {
    background-color:#0065FC ;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    border-style: none;
    height: 60px;
    width: 153px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}

#bouton {
    background-color:#0065FC ;
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    border-style: none;
    height: 60px;
    width: 153px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
}

#bouton2 {
    display: none;
}

#boxfiltre {
    display: flex;
    align-items: center;
}

#boxfiltre ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#boxfiltre i {
    box-sizing:content-box;
    color: #0065FC;
    background-color: #DEEBFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin:-3px 0 -3px -3px;

}

.filtre {
    display: flex;
    align-items: center;
    overflow: visible;
    border-color: #f0f0f0;
    margin-right: 20px;
    border-style: solid;
    border-radius:50px;
    flex-wrap: nowrap;
    border-width: 3px;
}

#boxfiltre strong {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
}

h2 {
    font-size: 20px;
    font-weight: 700; 
}

#info {
    width: 25px;
    height: 25px;
    font-size: 15px;
    color:#0065FC;
    border-color: #f0f0f0;
    border-style: solid;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
}

em {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    margin: 15px 0 0 0;
}

.filtre:hover {
    color: #0065FC;
    background-color: #DEEBFF;
    border-color: #DEEBFF;
}

/*SECTION 2 */

#section2 {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    height: 650px;
}

/* Hébergement */

#boxhebergement {
    flex: 67%;
    background-color: #f0f0f0;
    border-radius: 20px;
}

#hebergement {
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
}

#section2 a, #section3 a{
    text-decoration: none;
    color: black;
}

.bleue {
    color: #0065FC;   
}

.gris {
    color: #e2e2e2;
}

.card{
    background-color: #FFFFFF;
    width: 260px;
    height: 205px;
    border-style: solid;
    border-color: #FFFFFF ;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #e0e0e0;
}

.photo img{
    width: 252px;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 2px;
    margin-left: 8px;
}

.tarif {
    font-weight: 450;
    margin: 0px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.prix {
    font-weight: 600;
}

.star {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 8px;
    font-size: 14px;
}

#boxhebergement h1 {
    margin : 36px 0 18px 4%;
}

#boxhebergement h2{
    margin : 18px 0 0 4%;
}

#plus {
    text-decoration: none;
    color: black;
}

#plus:hover {
    color: #0065FC;
}

.card:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
}

/* Les plus populaires */

aside {
    flex: 33%;
    background-color: #f0f0f0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

aside h1 {
    margin : 36px 0 18px 0;
    display: flex;
    white-space: nowrap;
    width: 100%;
    padding: 0 40px 0 40px;
}

#titrepop {
    width:  50%;
}

#logopop {
    width:  50%;
    display: flex;
    justify-content: flex-end;
}

aside h1 i {
    font-size: 22px;
}

.cardp{
    background-color: #FFFFFF;
    width: 360px;
    height: 150px;
    border-style: solid;
    border-color: #FFFFFF ;
    border-width: 4px;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    box-shadow: 3px 3px 5px #e0e0e0;
}

.photop img{
    width: 133px;
    height: 142px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tarifp {
    font-weight: 450;
    margin : -15px 0 0 20px;
}

.starp {
    font-size: 14px;
    margin : 15px 0 0 20px;
}

.infop {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardp h3 {
    margin : 0 0 0 20px;
}

.cardp:hover {
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

/* SECTION 3 */

#section3 {
    height: 570px;
}

#boxactivite {
    display: flex;
    flex-wrap: wrap;
    gap:40px 2%;
    flex-direction: column;
    height: 550px;
}

.activite {
    width: 23%;
    border-radius: 20px;
    box-shadow: 3px 3px 5px #e0e0e0;
}

#port {
    height: 450px;
}

#pomegues {
    height: 245px;
}

#frioul {
    height: 165px;
}

#calanques {
    height: 450px;
}

#garde {
    height: 200px;
}

#longchamp {
    height: 210px;
}

.photoactivite {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#port img , #calanques img {
    height: 395px; 
}

#pomegues img{
    height: 190px;
}

#frioul img{
    height: 110px;
}

#garde img{
    height: 145px;    
}

#longchamp img{
    height: 155px;    
}

.activite:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
}

.activite h3 {
    margin:12px 0 0 18px;
}


/* FOOTER */

footer {
    height: 210px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center; 
}

#boxfooter{
    width: 1400px;
    display: flex;
    margin: auto;
    gap: 20%;  
}

footer li {
    font-size: 18px;
    font-weight:440;
    margin: 0 0 12px 0;
}

footer ul {
    padding-left: 0;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover{
    color:#0065FC;
}

